/* ベース */
body {
  color: #333;
  line-height: 2.0;
  z-index: 10;
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}
img {
  width: 100%;
  object-fit: cover;
}

.section-title {
  text-align: center;
  font-size: 38px;
  line-height: 1;
  position: relative;
  margin-top: 30px;
}
.section-title::before {
  color: rgba(221, 222, 255, 0.3);
  font-size: 96px;
  z-index: -1;
  display: block;
  position: relative;
  top: 30px;
}

.sub-title {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}
.sub-title::first-letter {
  color: rgb(137, 208, 255);
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(137, 208, 255);
  border-radius: 20px;
  box-shadow: 0px 3px 5px 2px #858585;
}

/* アニメーション */
.transition10 {transition:all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.delay03 {transition-delay: .3s;}
.delay05 {transition-delay: .5s;}
.delay07 {transition-delay: .7s;}
.delay09 {transition-delay: .9s;}

/* ヘッダー */
header {
  width: 100vw;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  text-align: center;
  z-index: 10;
  background-color: #fff;
}
.header-nav {
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav img {
  width: 40px;
  padding: 0 10px;
}
.menu {
  height: calc(100vh - 120px);
  position: relative;
  width: 60px;
  display: flex;
}
.hamburger {
  display: flex;
  align-items: center;
}
.nav-btn {
  position: relative;
  width: 30px;
  height: 26px;
}
.nav-btn span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #333;
}
.nav-btn span:nth-of-type(1) {
  top: 0;
}
.nav-btn span:nth-of-type(2) {
  top: 11px;
}
.nav-btn span:nth-of-type(3) {
  bottom: 0;
}
.menu-content {
  display: none;
  position: absolute;
  width: 400px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}
.menu-content-inner ul { 
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.open-menu {
  display: block;
}
.menu-content ul li {
  margin: 20px;
  opacity: 0;
  transform: translateY(100px);
}
.menu-content.on ul li {
  opacity: 1;
  transform: translateY(0px);
}

/* サイドバー */
.side-ver {
  background-color: #fff;
  height: calc(100vh - 120px);
  position: fixed;
  top: 60px;
  right: 0;
  width: 60px;
}
.item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item li {
  margin: 15px 0;
  text-align: center;
}

#page-top {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5px;
  bottom: 30px;
  background: #333;
  border-radius: 50%;
}
#page-top a {
  display: block;
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
#page-top a:hover {
  opacity: 1;
}

main {
  padding: 60px;
}

/* メインビジュアル */
.main-visual {
  background-image: url(../images/mv.jpg);
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 10px 10px -10px #333;
}

/* about me*/
.about .section-title::before {
  content: "About Me";
}
.about-area {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
.about-left {
  width: 400px;
  text-align: center;
  margin: 0 20px;
}
.about-left img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.about-left h3 {
  font-size: 32px;
}
.profile {
  width: 600px;
}
.profile h3 {
  font-size: 26px;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}

/* vision */
.vision {
  height: 650px;
  background-image: url(../images/vision.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.vision-text {
  text-align: center;
  background-color: #fff;
  border-radius: 40px;
  width: 550px;
  padding: 30px 60px;
  margin: 0 auto;
}
.vision-text h3 {
  font-size: 26px;
  padding-bottom: 30px;
}
.vision-text p {
  font-size: 18px;
}

/* できること Skills */
.skills {
  position: relative;
}
.skills::before {
  content: "";
  background-color: #89d0ff;
  height: 150%;
  width: 40%;
  position: absolute;
  top: -10%;
  left: 55%;  
  -webkit-transform-origin: left top;  /* X軸の位置 Y軸の位置 */
    transform-origin: left top;  /* X軸の位置 Y軸の位置 */
  -webkit-transform: skewX(-30deg);  /* 回転 */
    transform: skewX(-30deg);  /* 回転 */
  z-index: -1;
}
.skills .section-title::before {
  content: "Skills";
}
.skill-content {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.card {
  width: 330px;
  box-sizing: border-box;
  padding: 20px;
  margin: 5px;
  background-color: #fff;
  box-shadow: 0 5px 5px #333;
  border-radius: 20px;
}
.card i {
  margin: 50px 10px;
}
.strengthen {
  margin-top: 10px;
}

/* Works */
.works {
  background-color: #fff;
  background-attachment: fixed;
  position: relative;
  z-index: 5;
}
.works>.wrapper {
  height: 2500px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}
.sticky>.section-title {
  top: -30px;
}
.works .section-title::before {
  content: "Works";
}
.site-contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px;
}

.site-contents a {
  width: 200px;
  display: flex;
  margin: 10px 20px;
}
.view {
  width: 150px;
  margin: 40px auto;
  font-size: 18px;
}
.view a {
  padding: 15px 30px;
  border: solid 1px #333;
}

/* workモーダル */
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.close-modal {
  position: absolute;
  top: 70px;
  right: 80px;
  cursor: pointer;
}
.site1-modal,
.site2-modal,
.site3-modal {
  min-height: 70%;
  background-color: rgba(218, 218, 218, 0.8);
  border-radius: 30px;
  margin: 50px;
  display: none;
  justify-content: space-around;
  align-items: center;
}
.modal-open {
  display: flex;
}
.modal-wrapper img {
  width: 50%;
  margin: 10px;
}
.modal-text {
  width: 400px;
  margin: 20px;
}

/* フォーム */
.contact {
  padding-bottom: 100px;
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
}
.contact .section-title::before {
  content: "Contact";
}
form {
  width: 800px;
  margin: 100px auto 0;
  background-color: rgb(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 20px;
}
.name-area {
  height: 1000px;
}
label {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1;
  margin: 10px 0;
}
input[type="text"],input[type="email"],textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  display: flex;
}
input[type="text"],input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 90%;
  max-width: 480px;
  height: 150px;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}
.contact-btn {
  padding: 20px 100px;
  margin-top: 10px;
  border-radius: 30px;
}

/* フッター */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background-color: #333;
  font-size: 8px;
  z-index: 10;
}


/* works.html */
.works-visual {
  height: 300px;
  background-image: url(../images/mv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* website */
.website .section-title::before {
  content: "WEB SITE";
}

.website .site-contents {
  display: flex;
}
.site-contents {
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px;
}
.site-contents a {
  width: 200px;
  display: flex;
  margin: 10px 20px;
}
/* website */

/* design */
.design .section-title::before {
  content: "DESIGN";
}
.design-content {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.design-content img {
  width: 80%;
}
.design-text a {
  color: #fff;
  padding: 5px 50px;
}
/* design */
/* works.html */

@media screen and (max-width: 1200px) {
  /* ベース */
  .wrapper {
    max-width: 600px;
  }
  .section-title {
    font-size: 28px;
    margin-top: 0;
  }
  .sub-title {
    font-size: 32px;
  }
  .section-title::before {
    font-size: 68px;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgb(137, 208, 255);
    border-radius: 20px;
    box-shadow: 0px 3px 5px 2px #858585;
  }
  /* ベース */

  .header-nav, footer p {
    margin-right: 60px;
  }

  /* サイドバー */
  .menu {
    display: none;
  }

  main {
    padding-left: 0;
  }

  /* about me*/
  .about-area {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile {
    width: 500px;
    margin-top: 50px;
  }
  .profile h3 {
    font-size: 24px;
  }
  .profile p {
    font-size: 16px;
    line-height: 1.8;
  }
  /* about me*/

  /* vision */
  .vision {
    height: 550px;
  }
  .vision-text {
    width: 500px;
    padding: 30px 10px;
  }
  .vision-text h3 {
    font-size: 24px;
    padding-bottom: 30px;
  }
  .vision-text p {
    font-size: 16px;
  }
  /* vision */

  /* できること Skills */
  .skills {
    padding-bottom: 50px;
  }
  .skill-content {
    flex-direction: column;
  }
  .card {
    width: 400px;
    margin: 10px auto;
  }
  .card i {
    margin: 30px 10px;
  }
  /* できること Skills */

  /* Works */
  .works>.wrapper {
    height: 2500px;
  }
  .sticky {
  top: 60px;
  }
  .site-contents {
    margin: 0;
  }
  .site-contents a {
    width: 180px;
    margin: 5px;
  }
  .view {
    padding: 10px 20px;
  }
  /* Works */

  /* モーダル */
  .site1-modal,
  .site2-modal,
  .site3-modal {
    min-height: 80%;
    margin: 50px 20px;
    padding: 10px 0;
    flex-direction: column;
    text-align: center;
  }
  .modal-wrapper img {
    width: 300px;
  }
  .modal-text {
    width: 400px;
    margin: 0px;
  }
  .modal-text h2 {
    font-size: 1em;
  }
  .modal-text p {
    font-size: .8em;
  }
  .modal-wrapper .btn {
    font-size: .5em;
  }

  /* フォーム */
  .contact {
    padding-right: 30px;
    padding-left: 30px;
  }
  form {
    width: auto;
    margin-top: 50px;
  }
  textarea {
    max-width: 360px;
  }
  /* フォーム */

}

@media screen and (max-width: 599px) {
  /* ベース */
  .wrapper {
    max-width: 400px;
  }
  .section-title {
    font-size: 24px;
  }
  .sub-title {
    font-size: 20px;
  }
  .section-title::before {
    font-size: 56px;
  }
  .side-ver {
    display: none;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgb(137, 208, 255);
    border-radius: 20px;
    box-shadow: 0px 3px 5px 2px #858585;
  }
  /* ベース */

  main {
    padding: 0;
  }
  .header-nav, footer p {
    margin-right: 0;
  }

  /* ヘッダー */
  header {
    height: 40px;
  }
  .header-nav {
    line-height: 40px;
  }
  .header-nav img {
    width: 30px;
  }
  /* ヘッダー */

  /* about me*/
  .about-left img {
    width: 200px;
    height: 200px;
  }
  .about-left h3 {
    font-size: 24px;
  }
  .about-area {
    margin: 25px 0;
  }
  .profile {
    margin: 25px 10px;
  }
  .profile h3 {
    font-size: 24px;
  }
  .profile p {
    font-size: 14px;
  }
  /* about me*/

  /* vision */
  .vision {
    height: 550px;
  }
  .vision-text {
    max-width: 350px;
  }
  .vision-text h3 {
    font-size: 20px;
  }
  .vision-text p {
    font-size: 14px;
  }
  /* vision */

  /* できること Skills */
  .skills::before {
    width: 50%;
    height: 60%;
    top: 0%;
    left: 30%;
  }
  .card {
    width: 300px;
  }
  .card h3 {
    font-size: 18px;
  }
  .card p {
    font-size: 14px;
  }
  /* できること Skills */

  /* Works */
  .works>.wrapper {
    height: 1500px;
  }
  .site-contents a {
    width: 100px;
  }
  .view {
    font-size: 14px;
  }
  /* Works */

  /* フォーム */
  label {
    font-size: 16px;
  }
  .contact {
    padding-right: 0;
    padding-left: 0;
  }
  form {
    margin-top: 30px;
  }
  /* フォーム */

  /* フッター */
  footer {
    height: 40px;
    line-height: 40px;
  }
  /* フッター */


}