@charset "UTF-8";
/* ベース */
body {
  color: #333;
  line-height: 2.0;
  z-index: 10;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

main {
  padding: 60px;
}

@media screen and (max-width: 599px) {
  main {
    padding-right: 0;
    padding-left: 0;
  }
}

.btn {
  display: inline-block;
  width: 170px;
  line-height: 40px;
  color: #fff;
  background-color: #89d0ff;
  -webkit-box-shadow: 0px 3px 5px 2px #858585;
          box-shadow: 0px 3px 5px 2px #858585;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 599px) {
  .btn {
    font-size: 14px;
    width: 150px;
    line-height: 35px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

/* アニメーション */
.transition10 {
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.delay03 {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.delay05 {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.delay07 {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.delay09 {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

.open-menu {
  display: block;
}

.header {
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header__logo {
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
}

.header__logo img {
  width: 40px;
  padding-right: 10px;
}

.header__menu {
  width: 60px;
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  z-index: 100;
}

.header__menu .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .hamburger .nav-btn {
  position: relative;
  width: 30px;
  height: 26px;
}

.header__menu .hamburger .nav-btn span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #333;
}

.header__menu .hamburger .nav-btn span:nth-of-type(1) {
  top: 0;
}

.header__menu .hamburger .nav-btn span:nth-of-type(2) {
  top: 11px;
}

.header__menu .hamburger .nav-btn span:nth-of-type(3) {
  bottom: 0;
}

.header__menu__content {
  display: none;
  position: absolute;
  left: 60px;
  background-color: #fff;
  z-index: -1;
}

.header__menu__content .menu__inner ul {
  width: 300px;
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu__content .menu__inner ul li {
  margin: 20px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.header__menu__content.on ul li {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media screen and (max-width: 599px) {
  .header__menu {
    height: auto;
  }
  .header__menu__content {
    width: 70%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .header__menu__content .menu__inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu__content .menu__inner ul {
    height: 100%;
    background-color: #fff;
  }
}

@media screen and (max-width: 599px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__logo {
    font-size: 24px;
  }
  .header__logo img {
    width: 30px;
  }
}

.side-ver {
  width: 60px;
  height: calc(100vh - 120px);
  background-color: #fff;
  position: fixed;
  top: 60px;
  right: 0;
}

.side-ver__inner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-ver__inner__item {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.side-ver #page-top {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5px;
  bottom: 30px;
  background: #333;
  border-radius: 50%;
}

.side-ver #page-top a {
  display: block;
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.side-ver #page-top a:hover {
  opacity: 1;
}

@media screen and (max-width: 599px) {
  .side-ver {
    display: none;
  }
}

/* メインビジュアル */
.main-visual {
  background-image: url(../images/mv.jpg);
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 10px 10px -10px #333;
          box-shadow: 0px 10px 10px -10px #333;
}

/* メインビジュアル */
/* about me OK */
.about {
  padding-top: 30px;
}

@media screen and (max-width: 599px) {
  .about {
    padding-top: 10px;
  }
}

.about .section-title {
  text-align: center;
  font-size: 38px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.about .section-title::before {
  color: rgba(221, 222, 255, 0.3);
  font-size: 90px;
  z-index: -1;
  display: block;
  position: relative;
  top: 30px;
}

@media screen and (max-width: 599px) {
  .about .section-title {
    font-size: 24px;
  }
  .about .section-title::before {
    font-size: 56px;
    top: 20px;
  }
}

.about .section-title::before {
  content: "About Me";
}

.about__area {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__area__left {
  width: 600px;
  text-align: center;
}

.about__area__left img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.about__area__left h3 {
  font-size: 42px;
}

.about__area__profile {
  width: 750px;
  margin-right: 10px;
  margin-left: 10px;
}

.about__area__profile h3 {
  font-size: 32px;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}

.about__area__profile p {
  font-size: 22px;
  line-height: 1.75;
}

@media screen and (max-width: 1600px) {
  .about__area__left {
    width: 400px;
  }
  .about__area__left img {
    width: 300px;
    height: 300px;
  }
  .about__area__left h3 {
    font-size: 32px;
  }
  .about__area__profile {
    width: 600px;
  }
  .about__area__profile h3 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .about__area__profile p {
    font-size: 16px;
    line-height: 2;
  }
}

@media screen and (max-width: 1280px) {
  .about__area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .about__area__left {
    margin-bottom: 30px;
  }
  .about__area__profile {
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 599px) {
  .about__area {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .about__area__left {
    width: auto;
    margin-bottom: 0;
  }
  .about__area__left img {
    width: 200px;
    height: 200px;
  }
  .about__area__left h3 {
    font-size: 24px;
  }
  .about__area__profile {
    padding-right: 10px;
    padding-left: 10px;
  }
  .about__area__profile h3 {
    font-size: 18px;
  }
  .about__area__profile p {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* about me */
/* vision */
.vision {
  padding-bottom: 100px;
  background-image: url(../images/vision.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.vision .sub-title {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.vision .sub-title::first-letter {
  color: #89d0ff;
}

@media screen and (max-width: 599px) {
  .vision .sub-title {
    padding: 15px;
    font-size: 2rem;
  }
}

.vision .vision__text {
  max-width: 550px;
  text-align: center;
  background-color: #fff;
  border-radius: 40px;
  padding: 30px 60px;
  margin-right: auto;
  margin-left: auto;
}

.vision .vision__text h3 {
  font-size: 26px;
  padding-bottom: 30px;
}

.vision .vision__text p {
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .vision {
    padding-right: 10px;
    padding-left: 10px;
  }
  .vision .vision__text {
    max-width: 490px;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 599px) {
  .vision .vision__text {
    padding: 15px 20px;
  }
  .vision .vision__text p {
    font-size: 16px;
  }
}

/* vision */
/* Skills OK*/
.skills {
  padding-top: 30px;
  position: relative;
  padding-bottom: 50px;
}

@media screen and (max-width: 599px) {
  .skills {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.skills::before {
  content: "";
  background-color: #89d0ff;
  height: 150%;
  width: 40%;
  position: absolute;
  top: -10%;
  left: 55%;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /* X軸の位置 Y軸の位置 */
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  /* 回転 */
  z-index: -10;
}

@media screen and (max-width: 1280px) {
  .skills::before {
    width: 50%;
    height: 60%;
    top: 0%;
    left: 30%;
  }
}

.skills .section-title {
  text-align: center;
  font-size: 38px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.skills .section-title::before {
  color: rgba(221, 222, 255, 0.3);
  font-size: 90px;
  z-index: -1;
  display: block;
  position: relative;
  top: 30px;
}

@media screen and (max-width: 599px) {
  .skills .section-title {
    font-size: 24px;
  }
  .skills .section-title::before {
    font-size: 56px;
    top: 20px;
  }
}

.skills .section-title::before {
  content: "Skills";
}

.skills__content {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.skills__content .card {
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px #333;
          box-shadow: 0 5px 5px #333;
  border-radius: 20px;
}

.skills__content .card h3 {
  font-size: 26px;
}

.skills__content .card i {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.skills__content .card p {
  font-size: 20px;
}

.skills__content .card .strengthen {
  margin-top: 10px;
}

@media screen and (max-width: 1600px) {
  .skills__content .card {
    width: 330px;
  }
  .skills__content .card h3 {
    font-size: 20px;
  }
  .skills__content .card p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .skills__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills__content .card {
    width: 470px;
    margin-bottom: 20px;
  }
  .skills__content .card h3 {
    font-size: 18px;
    line-height: 1.5;
  }
  .skills__content .card i {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .skills__content .card p {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 599px) {
  .skills__content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skills__content .card {
    width: 300px;
    margin-bottom: 20px;
  }
  .skills__content .card i {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Skills */
/* Works */
.work {
  background-color: #fff;
  background-attachment: fixed;
  z-index: 5;
}

.work .wrapper {
  height: 2500px;
}

.work .wrapper .section-title {
  text-align: center;
  font-size: 38px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.work .wrapper .section-title::before {
  color: rgba(221, 222, 255, 0.3);
  font-size: 90px;
  z-index: -1;
  display: block;
  position: relative;
  top: 30px;
}

@media screen and (max-width: 599px) {
  .work .wrapper .section-title {
    font-size: 24px;
  }
  .work .wrapper .section-title::before {
    font-size: 56px;
    top: 20px;
  }
}

.work .wrapper .section-title::before {
  content: "Works";
}

.work__contents {
  max-width: 1200px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__contents__site {
  width: 300px;
  margin-right: 10px;
  margin-left: 10px;
}

.work__contents__site img {
  width: 100%;
  max-width: 300px;
  height: 200px;
}

.work .view {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 18px;
}

.work .view a {
  display: inline-block;
  width: 150px;
  line-height: 50px;
  border: solid 1px #333;
}

.work .view i {
  margin-left: 5px;
}

@media screen and (max-width: 1600px) {
  .work__contents {
    max-width: 900px;
  }
  .work__contents__site {
    width: 230px;
  }
  .work__contents__site img {
    max-width: 230px;
    height: 170px;
  }
}

@media screen and (max-width: 1280px) {
  .work {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .work__contents {
    max-width: 790px;
  }
  .work__contents__site {
    width: 180px;
  }
  .work__contents__site img {
    max-width: 180px;
    height: 120px;
  }
}

@media screen and (max-width: 599px) {
  .work__contents {
    max-width: 750px;
  }
  .work__contents__site {
    width: 150px;
  }
  .work__contents__site img {
    max-width: 150px;
    height: 100px;
  }
  .work .view {
    font-size: 16px;
  }
  .work .view a {
    width: 120px;
    line-height: 40px;
  }
}

/* Works */
/* workモーダル */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.modal__site {
  display: none;
  position: relative;
  width: 100%;
  max-width: 1280px;
  background-color: rgba(218, 218, 218, 0.8);
  border-radius: 30px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal__site .close-modal {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.modal__site__img {
  text-align: center;
  font-size: 32px;
}

.modal__site__img img {
  width: 500px;
}

.modal__site__text {
  width: 600px;
  margin-top: 50px;
}

.modal__site__text h3 {
  font-size: 28px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.modal__site__text p {
  font-size: 18px;
}

.modal__site__text .parts {
  margin-top: 20px;
}

.modal__site__text .parts span {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .modal__site {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 750px;
  }
  .modal__site__img {
    font-size: 26px;
  }
  .modal__site__img img {
    width: 300px;
  }
  .modal__site__text {
    width: 100%;
    margin-top: 0;
  }
  .modal__site__text h3 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .modal__site__text p {
    font-size: 16px;
  }
  .modal__site__text .parts {
    margin-top: 10px;
  }
  .modal__site__text .parts span {
    font-size: 20px;
  }
}

@media screen and (max-width: 599px) {
  .modal__site {
    width: 300px;
    padding: 10px;
  }
  .modal__site .close-modal {
    top: 10px;
    right: 20px;
  }
  .modal__site__img {
    font-size: 18px;
  }
  .modal__site__img img {
    width: 150px;
  }
  .modal__site__text {
    line-height: 1.75;
  }
  .modal__site__text h3 {
    font-size: 20px;
  }
  .modal__site__text p {
    font-size: 14px;
  }
  .modal__site__text .parts {
    margin-top: 5px;
  }
  .modal__site__text .parts span {
    font-size: 16px;
  }
}

.modal__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* workモーダル */
/* フォーム */
.contact {
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact .section-title {
  text-align: center;
  font-size: 38px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.contact .section-title::before {
  color: rgba(221, 222, 255, 0.3);
  font-size: 90px;
  z-index: -1;
  display: block;
  position: relative;
  top: 30px;
}

@media screen and (max-width: 599px) {
  .contact .section-title {
    font-size: 24px;
  }
  .contact .section-title::before {
    font-size: 56px;
    top: 20px;
  }
}

.contact .section-title::before {
  content: "Contact";
}

@media screen and (max-width: 1280px) {
  .contact {
    padding-top: 30px;
  }
}

@media screen and (max-width: 599px) {
  .contact {
    padding-top: 10px;
  }
}

.form {
  width: 800px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 20px;
}

.form input {
  max-width: 90%;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  height: 50px;
  font-size: 18px;
}

.form textarea {
  width: 90%;
  max-width: 600px;
  height: 150px;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
}

.form__name, .form__furigana, .form__mail, .form__message {
  margin-bottom: 15px;
}

.form__name h3, .form__furigana h3, .form__mail h3, .form__message h3 {
  font-size: 18px;
}

.form input[type="submit"] {
  margin-top: 50px;
  width: 200px;
  height: 42px;
  font-size: 18px;
  background-color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .form {
    max-width: 400px;
  }
  .form textarea {
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 599px) {
  .form {
    width: 300px;
    border-radius: 0;
    margin-top: 30px;
  }
  .form textarea {
    width: 100%;
    font-size: 16px;
  }
}

/* フォーム */
/* フッター */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background-color: #333;
  font-size: 8px;
  z-index: 10;
}

/* フッター */
/* works.html */
.works-visual {
  height: 300px;
  background-image: url(../images/mv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 599px) {
  .works-visual {
    height: 150px;
  }
}

/* works.html */
/* website */
.pick-up .section-title {
  text-align: center;
  font-size: 38px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.pick-up .section-title::before {
  color: rgba(221, 222, 255, 0.3);
  font-size: 90px;
  z-index: -1;
  display: block;
  position: relative;
  top: 30px;
}

@media screen and (max-width: 599px) {
  .pick-up .section-title {
    font-size: 24px;
  }
  .pick-up .section-title::before {
    font-size: 56px;
    top: 20px;
  }
}

.pick-up .section-title::before {
  content: "WEB SITE";
}

.pick-up .sub-title {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.pick-up .sub-title::first-letter {
  color: #89d0ff;
}

@media screen and (max-width: 599px) {
  .pick-up .sub-title {
    padding: 15px;
    font-size: 2rem;
  }
}

.pick-up .sub-title {
  color: #333;
  margin-bottom: 0;
}

.pick-up__contents {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1280px) {
  .pick-up__contents {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.pick-up__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.pick-up__card__img {
  max-width: 500px;
  text-align: center;
}

.pick-up__card__img p {
  font-size: 18px;
  margin-top: 20px;
}

.pick-up__card__text {
  max-width: 500px;
  margin-left: 30px;
}

.pick-up__card__text h4 {
  font-size: 28px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.pick-up__card:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pick-up__card:nth-child(even) .pick-up__card__text {
  margin-left: 0;
  margin-right: 30px;
}

@media screen and (max-width: 1280px) {
  .pick-up__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pick-up__card__img {
    margin-bottom: 30px;
  }
  .pick-up__card__text {
    margin-left: 0;
  }
  .pick-up__card:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pick-up__card:nth-child(even) .pick-up__card__text {
    margin-right: 0;
  }
}

@media screen and (max-width: 599px) {
  .pick-up__card {
    margin-bottom: 30px;
  }
  .pick-up__card__img p {
    font-size: 16px;
  }
  .pick-up__card__text h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .pick-up__card:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pick-up__card:nth-child(even) .pick-up__card__text {
    margin-right: 0;
  }
}

/* website */
.others-site {
  padding-top: 30px;
}

.others-site .sub-title {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.others-site .sub-title::first-letter {
  color: #89d0ff;
}

@media screen and (max-width: 599px) {
  .others-site .sub-title {
    padding: 15px;
    font-size: 2rem;
  }
}

.others-site .sub-title {
  color: #333;
  margin-bottom: 0;
}

.others-site .wrapper {
  height: auto;
}

/* design */
.design .section-title {
  text-align: center;
  font-size: 38px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.design .section-title::before {
  color: rgba(221, 222, 255, 0.3);
  font-size: 90px;
  z-index: -1;
  display: block;
  position: relative;
  top: 30px;
}

@media screen and (max-width: 599px) {
  .design .section-title {
    font-size: 24px;
  }
  .design .section-title::before {
    font-size: 56px;
    top: 20px;
  }
}

.design .section-title::before {
  content: "DESIGN";
}

.design__content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.design__content img {
  width: 80%;
}

.design__content__text {
  font-size: 18px;
}

@media screen and (max-width: 1280px) {
  .design__content {
    margin-top: 30px;
  }
  .design__content img {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .design__content__text {
    font-size: 16px;
  }
}

/* design */
/*# sourceMappingURL=style.css.map */